<div class="header">
  <h1 class="contents">投稿する</h1>
</div>
<form class="contents" method="post" action="/post/create">
  <div>
    <label for="">投稿者名</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="">本文</label>
    <textarea name="body"></textarea>
  </div>
  <input type="submit" value="投稿する">
</form>
